:root{
  --mainText: lightgrey;
  --secondaryText: purple;

  --borderColor: red;

  --maincolor: #6E8FBC;
  --secondaryColor: rgba(248, 239, 208, 0.7);
  --backgroundcolor: ghostwhite;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249,243,0.8);
  --previewShadow: #6E8FBC;

  --btnColor: black;
}
