nav {
  width: 1438px;
  background-color: none;
  padding-left: 30px;
  padding-right: 10px;
  margin: 0 auto
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: inline-block;
  font-family: ‘Monda’, sans-serif;
  font-size: 44px;
  letter-spacing: 6;
  color: #4C4C4C;
  text-decoration: none;
 /* background-image: linear-gradient(to right, #6B5416, #FF4B2B);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;*/
}

.logo:hover {
  color: #4C4C4C;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  font-family: ‘Open Sans’, sans-serif;
}
.nav-item a {
  display: inline-block;

  padding: 10px 15px;
  text-decoration: none;
  color: #4c4c4c;
  opacity: 0.7;
}
.nav-item:hover a {
  background-image: linear-gradient(to right, #FF416C, #FF4B2B);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 1;
}
